<div class="container">
    <h1>Detalles del producto</h1>
    <div>
        <h3>{{product.title}}</h3>
        <p>Precio: {{product.price}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>Id: {{product._id}}</p>
        <p>Stock: {{product.stock}}</p>
        <p>Code: {{product.code}}</p>
        <p>Description: {{product.description}}</p>
        <p>Owner: {{product.owner}}</p>
        <button class="cart-button" onclick="addToCart('{{product._id}}', '{{product.title}}', '{{user._id}}', '{{product.owner}}', '{{user.email}}')">Agregar al carrito</button>
        <h4 id="cannotAdd" style="display: none;">Cannot add your own product</h4>
        <div>
            <a href="http://localhost:8080/api/products">
                <button>Volver a la lista de productos</button>
            </a>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productDetails.js"></script>
